body {
  background-color: #e0e0e0;
}

.profil-info{
  margin-top: 50px;
}

.spacer  {
  margin-top: 50px;
}
.spacer-small {
  margin-top: 50px;
}

.space-small-after {
  margin-bottom: 50px;
}

.mobil-after-space {
  padding-bottom: 50px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .profil-info{
    margin-top: 150px;
  }

  .spacer  {
    margin-top: 150px;
  }

  .mobil-after-space {
    padding-bottom: 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}